body {
	font-family:impact;
}

h1 {
	font-size:40px;
	text-align:center;
	margin-top:50px;
}

h2 {
	text-align:center;
	margin-top:50px;
}

p {
	font-family:arial;
	text-align:center;
	max-width:65%;
	margin:auto;
}

ul {
	list-style-type: none;
	margin:auto;
	margin-top:-20px;
	padding:0;
	padding-top:10px;
	padding-bottom: 10px;
	text-align:center;
	background-color: #dddddd;
	width:100%;
}

li {
	display:inline;
	padding:25px;
	font-size:18px;
}

a {
	text-decoration: none;
	color:gray;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
	margin-bottom:30px;    
}

