body {
	font-family:impact;
	background-color:#b3ffff;
	color:gray;
}

ul {
	list-style-type: none;
	margin:auto;
	margin-top:20px;
	padding:0;
	padding-top:10px;
	padding-bottom: 10px;
	text-align:center;
	width:100%;
}

ul li {
	display:inline;
	padding:25px;
	font-size:18px;

}

a {
	text-decoration: none;
	color:gray;
}

h1 {
	font-size:40px;
	text-align:center;
	margin-top:50px;
	color:gray;
}

h2 {
	text-align:center;
	margin-top:50px;
	font-size:18px;
	font-style:italic;
}

.portfolio {
	display:block;
	margin:auto;
	margin-bottom:25px;

}

img {
	display:block;
	margin:auto;

}